@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish&family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Gothic&family=Mulish&family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    display: flex;
}

.btn7 {
    position: absolute;
    top: 5px;
    left: -1px;
    background: #EEA734;
    border-radius: 8px;
    width: 335PX;
    height: 48PX;
    color: white;
    border: none;
    cursor: pointer;
}

.sn7 {
    position: absolute;
    left: 36.33%;
    top: 40px;
    font-family: 'Yu Gothic UI';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.4px;
}

.title7 {
    position: absolute;
    width: 338px;
    height: 25px;
    left: 21px;
    top: 100px;
    font-family: 'Yu Gothic UI';
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.22px;
}

.tag7 {
    position: absolute;
    width: 274px;
    height: 35px;
    left: 21px;
    top: 147px;
    font-family: 'Yu Gothic UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    color: #868686;
}

.form7 {
    position: absolute;
    height: 24px;
    left: 6%;
    right: 45.07%;
    top: 212px;
    font-family: 'Yu Gothic UI';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #868686;
    text-transform: uppercase;
}

input {
    border: none;
}

.hr7 {
    position: absolute;
    left: 0%;
    right: -82%;
    top: 224%;
    /* opacity: 0.20; */
}

::placeholder {
    font-weight: bold;
    font-family: 'Yu Gothic UI';
}


@media(max-width:375px) {
    .img7 {
        position: absolute;
        left: 76%;
    }

    .img17 {
        left: 1.33%;
    }

    .btn7 {
        left: -3px;
    }
}

.img17 {
    position: absolute;
    top: 363px;
    left: 13px;
    width: 353px;
    height: 345px;

}

.prob7 {
    position: absolute;
    width: 122px;
    height: 11px;
    left: 182px;
    top: 172px;
    font-family: 'Yu Gothic UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    color: #EEA734;
}