@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish&family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Gothic&family=Mulish&family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 375px;
  height: 812px;
  background: #FFFFFF;
  display: flex;
}

.btn11 {
  position: absolute;
  top: -22px;
  left: -111px;
  position: absolute;
  border-radius: 8px;
  width: 335PX;
  height: 48PX;
  color: #EEA734;
  border: none;
  cursor: pointer;
  background: white;
  border: 0.8px solid #EEA734;
  border-radius: 8px;
}

.title11 {
  position: absolute;
  width: 287px;
  height: 25px;
  left: 44px;
  top: 112px;
  font-family: 'Yu Gothic UI';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14px;
  color: #010F07;
}

.tag11 {
  position: absolute;
  width: 318px;
  height: 35px;
  left: 29px;
  top: 157px;
  font-family: 'Yu Gothic UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.4px;
  color: #868686;
}

.form11 {
  position: absolute;
  width: 146px;
  height: 12px;
  left: 131px;
  top: 244px;
  font-family: 'Yu Gothic UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.4px;
}

.arrow11 {
  position: absolute;
  left: 80px;
  top: 14px;
  font-size: 15px;
  color: #EEA734;
}

.addr {
  position: absolute;
  top: 20px;
  left: -131px;
  width: 335px;
  box-sizing: border-box;
  background: #FBFBFB;
  border: 1px solid rgba(134, 134, 134, 0.103229);
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
  cursor: pointer;
}

.location {
  position: absolute;
  left: -87px;
  top: 53px;
  color: #868686;
}

::placeholder {
  position: absolute;
  left: 50px;
  top: 13px;
}

@media(max-width:375px) {
  .img11 {
    position: absolute;
    left: 76%;
  }

  .btn11 {
    left: -111px;
  }
}